In [7]:
import pandas as pd

df = pd.read_csv('total_new.csv')

df.head(10)

,sn1_holding+filling,sn1_max,sn2_holding+filling,sn2_max,sn3_holding+filling,sn3_max,sn4_holding+filling,sn4_max
0,253.857916,67.6,215.302543,63.127194,138.882202,55.832318,117.927712,52.915555
1,248.486515,67.6,222.867030,63.846190,144.324803,57.822824,122.489817,54.632269
2,253.035371,67.6,225.674294,64.385367,149.270697,59.861782,127.427667,57.383130
3,291.171891,78.0,252.745037,73.944439,178.015395,67.538577,157.490254,63.794804
4,285.213678,78.0,266.206756,75.165153,185.374175,70.270586,163.070511,67.508764
5,295.378728,78.0,265.193835,75.547192,188.957256,71.739830,166.578628,69.637573
6,328.482358,88.4,293.428123,85.226073,217.456496,80.435482,197.228831,77.548654
7,321.840375,88.4,306.786805,86.804827,226.756681,82.606478,204.056039,80.357290
8,333.857679,88.4,306.512808,87.242230,230.069878,84.068808,206.851286,82.214802
9,260.434022,67.6,222.549254,63.325143,140.508223,56.182573,118.968376,51.985163

In [8]:
temp = df[['sn1_holding+filling', 'sn1_max']]
temp

     sn1_holding+filling  sn1_max
0             253.857916     67.6
1             248.486515     67.6
2             253.035371     67.6
3             291.171891     78.0
4             285.213678     78.0
..                   ...      ...
130           280.796320     78.0
131           281.142275     78.0
132           326.128996     88.4
133           317.075547     88.4
134           316.465972     88.4

[135 rows x 2 columns]

In [9]:
Type = temp.groupby(['sn1_holding+filling'])['sn1_max'].sum().reset_index()
Type['class'] = 1
Type

     sn1_holding+filling  sn1_max  class
0             244.514026     67.6      1
1             244.725153     67.6      1
2             245.044718     67.6      1
3             245.364264     67.6      1
4             245.682081     67.6      1
..                   ...      ...    ...
130           336.651093     88.4      1
131           336.861362     88.4      1
132           337.274391     88.4      1
133           337.670095     88.4      1
134           338.032707     88.4      1

[135 rows x 3 columns]